<app-menubar></app-menubar>

<ng-container *ngIf="products.length !=0">
  <div class="title mt-4">
    <h1 style="text-align: center; font-weight: 700;font-size: 30px;">Cart</h1>
  </div>
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr style="font-weight: 700; font-size: 20px;">
              <td>Id</td>
              <td>Product name</td>
              <td>Product Image</td>
              <td>Quantity</td>
              <td>Price</td>
              <td>Total</td>
              <td>Del</td>
            </tr>
          </thead>
  
          <tbody>
            <tr *ngFor="let product of products; let i = index">
              <td>{{i+1}}</td>
              <td>{{product.name}}</td>
              <td><img style="width: 120px;" src="{{product.image}}" alt=""></td>
              <td><div class="quatity d-flex">
                
                <span>
                  <button class="btn btn-outline-light" (click)="onMinusClick()"> - </button>
                  <label for=""> &nbsp; {{qty}} &nbsp; </label>
                  <button class="btn btn-outline-light" (click)="onPlusClick()"> + </button>
                </span>
                
              </div></td>
              <td>${{product.price}}</td>
              <td>${{product.price*qty}}</td>
              <td><button (click)="removeItem(product)" class="btn btn-danger"><i class="pi pi-times" style="color: #fff"></i></button></td>
            </tr>
            <tr>
              
              <td style="font-size:20px; padding-top: 20px;"><strong>Grand Total: ${{grandTotal*qty}}</strong></td>
              <td colspan="3"></td> 
              <td>
                <button (click)="emptycart()" class="btn btn-outline-danger">Empty cart</button>
                
              </td>
              <td>
                <button routerLink="/gameProduct" class="btn btn-outline-light">Shop More</button>
                
              </td>
              <td>
                <button class="btn btn-outline-warning" routerLink="/checkout">CheckOut</button>
                
              </td>
             
            </tr>
          </tbody>
  
        </table>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
  <div class="container-fluid">
    <div class="row">
      <div class="title mt-4">
        <h1 style="text-align: center; font-weight: 700; font-size: 30px;">Cart</h1>
      </div>
      <div class="col-12" >
        
        <h2 class="card">My Cart</h2>
        <hr>
       <div class="center">
        <img src="assets/img/empty-cart.png" alt=""> <br>
        <h4>Your cart is empty!</h4>
        <h5>Add item to it now</h5>
        
        <button class="btn btn-outline-dark" routerLink="/gameProduct">Shop now!!</button>
       </div>
      </div>
    </div>
  </div>
</ng-container>

<app-footer></app-footer>