<div style="height: 60vh">
  <div class="container">
    <h1>LOGIN</h1>
    <div class="col-lg-6 " style="float: right; padding-left: 20px; ">
      <img src="assets/img/apaxlegend.png" alt="" width="100%" height="400px">
      </div>
      <div class="col-lg-6 mr-2" style=" padding:30px; ">
      <form action="">
        <div class="form-floating mb-3">
          <input type="email" name="email" id="floatingInput" placeholder="Your Email * " 
          class="form-control" [(ngModel)]="email">
          <label for="floatingInput" class="text-dark">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" name="password" id="floatingInput" 
          placeholder="password * " class="form-control "[(ngModel)]="password"> 
          <label for="floatingInput" class="text-dark">Password</label>
        </div>
        <div class="form-floating mt-3">
          <button class="btn btn-outline-light" type="submit" (click)="loginUser()" id="floatingLogin" value="login">Login</button>
        </div>
      </form>
      <div class="forgot mt-3 mb-3">
        <a class="text-white" href="#" >Forgot Password?</a>
        <span class="d-flex" style="float: right;">Haven't account yet? <a href="" class="text-white" > Register now </a></span>
      </div>
      <div class="form-floating mb-3">
        <a href="" class="btn btn-danger mt-3">Continue with Google</a> <br>
        <a href="" class="btn btn-primary mt-3">Continue with Facebook</a>
      </div>
    </div>
    
  </div>
</div>