<app-search-bar></app-search-bar>
<div class="container-fluid mt-5 mb-2">
  <h1 style="text-align:center; font-weight: bold; font-size: 30px;">List Of Customers</h1>
  <a class="btn btn-outline-warning mb-3" href="/admin">Go back</a>
  <!-- Button trigger modal -->
  <button type="button" (click)="clickAddUser()" class="btn btn-warning mb-3 d-flex" data-bs-toggle="modal"
    data-bs-target="#exampleModal">
    <i class="pi pi-user-plus" style="font-size: 1.5rem; color: #fff"></i>
  </button>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-dark" id="exampleModalLabel"> <i class="pi pi-user-plus" style="font-size: 1.5rem;
              color: #000"></i></h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-dark">
          <form class="" [formGroup]="formValue">
            <div class="form-floating mb-3">

              <input type="text" name="text" formControlName="name" id="floatingInput" class="form-control">
              <label for="floatingInput">Name</label>
            </div>
            <div class="form-floating mb-3">

              <input type="text" name="phone" formControlName="phone" id="floatingInput" class="form-control">
              <label for="floatingInput">Phone</label>
            </div>
            <div class="form-floating mb-3">

              <input type="email" name="email" formControlName="email" id="floatingInput" class="form-control">
              <label for="floatingInput">Email</label>
            </div>
            <!-- <div class="form-floating mb-3">
            
            <input type="password" name="password" id="floatingInput" formControlName="password" class="form-control"  required>
            <label for="floatingInput">Password</label>
        </div> -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-warning" *ngIf="showAdd"
            (click)="addUser()">Add </button>
          <button type="button" class="btn btn-warning" *ngIf="showbtn"
            (click)="updateUser()">Done</button>
        </div>
      </div>
    </div>
  </div>

  <p-table #dt [value]="allDedoData" styleClass="p-datatable-customers" [rowHover]="true" [globalFilterFields]="['name','phone','email']" dataKey="id"
    [rows]="10" [showCurrentPageReport]="true" [loading]="loading"
    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="caption">
      <div class="flex">
          <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
          </span>
      </div>
  </ng-template>
    <ng-template pTemplate="header">
      <tr>

        <th >Id</th>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th >Avatar</th>
        <th pSortableColumn="phone">Phone <p-sortIcon field="phone"></p-sortIcon></th>
        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
        <th>Functions</th>
        <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
      </tr>

    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr class="body mb-2">

        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>.</td>
        <td>{{data.phone}}</td>
        <td>{{data.email}}</td>
        <td><button (click)="onEditData(data)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
            class="btn btn-success"> <i class="pi pi-user-edit" style="color: #fff"></i>

          </button> &nbsp;
          <button (click)="deleteData(data)" class="btn btn-danger">
            <i class="pi pi-times" style="color: #fff"></i></button>
        </td>
        <td><p-tableHeaderCheckbox></p-tableHeaderCheckbox></td>
      </tr>
      

    </ng-template>

  </p-table>

</div>
