<app-menubar></app-menubar>
<p-toast></p-toast>

<p-confirmPopup></p-confirmPopup>
<div class="container text-center pt-5 " ><strong><h1>Check Out</h1></strong></div>
<div class="checkout_form">
  <h4>Order Details</h4>
  <form action="">
    <div class="row">
      <div class="col-sm-8 col-md-6">
        <div class="row">
          <div class="col-lg-6">
            <div class="checkout_input">
              <p>Name <span>*</span></p>
              <input type="text" required>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="checkout_input">
              <p>First name <span>*</span></p>
              <input type="text" required>
            </div>
          </div>
          
        </div>
        <div class="checkout_input">
          <p>Address <span>*</span></p>
          <input type="text" required>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="checkout_input">
              <p>Number <span>*</span></p>
              <input type="number" required>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="checkout_input">
              <p>Email <span>*</span></p>
              <input type="email" required>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-4 col-md-6" >
        <div class="checkout_order" *ngFor="let product of products" >
          <h4>Bill</h4>
          <div class="checkout_order_products">Products <span>Total:</span></div>
          <div class="checkout_order_products_list text-dark" >
            {{product.name}}
            
            <div style="margin-top: 20px; margin-bottom: 20px;">
              <div class="qty">
                {{qty}}
               
              </div>
              
              <div class="checkout_order_total " style="color:#000">Total: <span>${{grandTotal*qty}}</span></div>
              <button type="submit" class="order btn btn-outline-dark mt-3 px-5 mb-5" value="Order" style="width: 10.5em; height: 2.28em;" name="order" (click)="confirm($event)">Order</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<app-footer></app-footer>